<!---Name:Cheuk Man Chan
     StudentID :301264488
     Date:2/6/2023               
-->
<footer>
      <nav class="navbar fixed-bottom navbar-dark" style="background-color: #9BABB8;">
   
    <h6 class="display-10 navbar-text">&copy;&nbsp;&nbsp; Chan Cheuk Man #301264488 Assignment 1 - Express Portfolio Site COMP229(SEC004)</h6>
    </div>
    </nav>
  </footer>
