 <!---Name:Cheuk Man Chan
     StudentID :301264488
     Date:2/6/2023               
-->
<script src="/jquery/dist/jquery.min.js"></script>
 <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>