<!---Name:Cheuk Man Chan
     StudentID :301264488
     Date:2/6/2023               
-->
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
<main class="ontainer" style="background-color: #D7C0AE;">
<div class="jumbotron" style="background-color: #D7C0AE;">
    <h1>Welcome to CheukManChan(Kerry) Portfolio Site</h1>
    <p class="bg-success">This is my personal express Portfolio Site and you can learn more about me by visiting this website.</p>
    <a class="nav-item nav-link" href="/about"><button type="button" class="btn btn-primary">About Me</button></a>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   